/* headerdiv */

.headerdiv{
    position:absolute;
    height:7vh;
    width:202vh;
    background-color:rgb(255, 255, 255);
    left:0vh;
    top:0vh;
}
.logo{
    position:absolute;
    height:18px;
    top:11px;
    left:150px;
}
/* store section */
.store{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:30vh;
    background-color: rgb(255, 255, 255);
}
#store{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* mac section */

.mac{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:40.1vh;
    background-color: rgb(255, 255, 255);
}
#mac{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* ipad setion */

.ipad{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:49.3vh;
    background-color: rgb(255, 255, 255);
}
#ipad{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* iphone scetion */

.iphone{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:58.7vh;
    background-color: rgb(255, 255, 255);
}
#iphone{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* watch section */

.watch{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:70.3vh;
    background-color: rgb(255, 255, 255);
}
#watch{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/*  vision section */

.vision{
    position:absolute;
    height:7vh;
    width:8.5vh;
    left:81.3vh;
    background-color: rgb(255, 255, 255);
}
#vision{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* airpods section */

.airpods{
    position:absolute;
    height:7vh;
    width:9.5vh;
    left:92.1vh;
    background-color: rgb(255, 255, 255);
}
#airpods{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* tv and home section */

.tvandhome{
    position:absolute;
    height:7vh;
    width:13.5vh;
    left:104.7vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#tvandhome{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* entertainment */


.entertainment{
    position:absolute;
    height:7vh;
    width:15.5vh;
    left:120.1vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#entertainment{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* accessories section */

.accessories{
    position:absolute;
    height:7vh;
    width:14.5vh;
    left:138vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#accessories{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* support section */

.support{
    position:absolute;
    height:7vh;
    width:12.5vh;
    left:154.1vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#support{
    position: absolute;
    top:14.8px;
    left:9.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11.6px;
    color:rgb(64, 63, 63);
    letter-spacing: 0.2px;
}

/* search section */

.search{
    position:absolute;
    height:7vh;
    width:12.5vh;
    left:166.8vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#search{
    position: absolute;
    top:14.9px;
    left:9.4px;
    font-size:13.6px;
    color:rgb(64, 63, 63);
}    

/* cart section */

.cart{
    position:absolute;
    height:7vh;
    width:12.5vh;
    left:174.6vh;
    top:-0vh;
    background-color: rgb(255, 255, 255);
}
#cart{
    position: absolute;
    top:14px;
    left:9.4px;
    font-size:15.6px;
    color:rgb(64, 63, 63);
}  

/* seconddiv */

.seconddiv{
    position:absolute;
    height:8vh;
    width:202vh;
    top:7vh;
    background-image:linear-gradient(to right,white,white,white,white,rgb(188, 188, 188));
    border-bottom: 1px solid rgb(200, 200, 200);
}

#ipadaccessories{
    position: absolute;
    font-size:20px;
    font-family: Helvetica;
    height:18px;
    top:15px;
    left:149.5px;
    letter-spacing: 0.4px;
    font-weight: 500;
}

/* browse all section */

.browseall{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    top:20px;
    left:164vh;
    letter-spacing: 0px;
    font-weight: 100;
    color:rgb(64, 63, 63);
}

#arrow{
    position: absolute;
    left:175.5vh;
    top:20px;
    rotate:calc(180deg);
    color:rgb(64, 63, 63);
}

/* third div */

.thirddiv{
    position:absolute;
    height:60.5vh;
    width:202vh;
    top:15.15vh;
    background-color: rgb(246, 246, 246);
}

#quote{
    position:absolute;
    font-family: bold helvetica, sans-serif;
    font-size: 40px;
    font-weight:500;
    left:60px;
    top: 16vh;
}

.shop{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:rgb(0, 115, 255);
    left: 62px;
    top: 33vh;
    letter-spacing: 0.5px;
}

.img{
    position: absolute;
    height:60.5vh;
    width:auto;
    left:50.4vh;
}

/*  Featured iPad Accessories */

.fia{
    position: absolute;
    font-size: 40px;
    font-family: bold Arial, Helvetica, sans-serif;
    font-weight: 500;
    top:86vh;
    left:65vh; 
}

/* apple pen section */

.applepen{
    position: absolute;
    height:100vh ;
    width:54vh ;
    background-color:rgb(246, 246, 246) ;
    border-radius:15px ;
    left:110px;
    top:98vh;
}

#applepen{
    position:absolute;
    height:90vh ;
    width:auto ;
    left:15vh ;
    top:6vh ;

}

/* Magic Keyboard for iPad Pro 13‑inch (M4) - Black */

.mki{
    position: absolute;
    height:100vh ;
    width:110vh ;
    background-color:rgb(246, 246, 246) ;
    border-radius:15px ;
    left:73vh;
    top:98vh;
}

#mki{
    position:absolute;
    width:auto;
    height:90vh;
    left:20vh;
    top:3vh;
}

/* Smart Folio for iPad Air 11-inch (M2) - Sage */

.sfia{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:200vh;
    left:110px;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#sfia{
    position:absolute;
    height:auto;
    width:37vh;
    left:8vh;
    top:8vh;
}

/* Magic Keyboard for iPad Air 11-inch (M2) - US English - Black */

.mkia{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:200vh;
    left:73vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#mkia{
    position:absolute;
    height:auto;
    width:41vh;
    left:6vh;
    top:13vh;
}

/* apple pencil(usb-c) */

.ap{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:200vh;
    left:129vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#ap{
    position:absolute;
    height:auto;
    width:40vh;
    left:8vh;
    top:8vh;
}

/* iPad Essentials */

.ie{
    position: absolute;
    font-size: 40px;
    font-family: bold Arial, Helvetica, sans-serif;
    font-weight: 500;
    top:295vh;
    left:80vh; 
}

/* swipeablediv */

.swipeablediv{
    position:absolute;
    margin-top:307vh;
    margin-bottom:0vh;
    left:110px;
    border-radius: 15px;
  
}


/* apple pen 1st general */

.ap1g{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:0px;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#ap1g{
    position:absolute;
    height:auto;
    width:40vh;
    left:8vh;
    top:8vh;
}

/* Magic Keyboard Folio for iPad (10th generation) */

.mkfi{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:56vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#mkfi{
    position:absolute;
    height:auto;
    width:41vh;
    left:6vh;
    top:7vh;
}

/* Smart Folio for iPad (10th generation) */

.sfia10{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:112vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}
#sfia{
    position:absolute;
    height:auto;
    width:37vh;
    left:8vh;
    top:8vh;
}




/* charging Essentials */

.ce{
    position: absolute;
    font-size: 40px;
    font-family: bold Arial, Helvetica, sans-serif;
    font-weight: 500;
    top:405vh;
    left:75vh; 
}

/* slides section */

.slides{
    position:absolute;
    margin-top:416vh;
    margin-bottom:0vh;
    left:110px;
    border-radius:15px;
  
}

/* power adapter */

.pa{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:0px;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}
#pa{
    position:absolute;
    height:auto;
    width:37vh;
    left:8vh;
    top:7vh;
}

/* charger cable section */

.cc{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:56vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}

#cc{
    position:absolute;
    height:auto;
    width:41vh;
    left:6vh;
    top:15vh;
}

/* digital av multiport adapter */

.dama{
    position:absolute;
    height:83vh ;
    width:54vh ;
    top:0vh;
    left:112vh;
    border-radius:15px;
    background-color:rgb(246, 246, 246) ;
}
#dama{
    position:absolute;
    height:auto;
    width:37vh;
    left:8vh;
    top:4vh;
}




/* shop power and cable  */
.shoppowerandcable{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:rgb(0, 115, 255);
    left: 70vh;
    top: 93vh;
    letter-spacing: 0.5px;
}

/* airpod section */

.line1{
    position:absolute;
    font-family: bold Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    left:50vh;
    top:19vh;
}

.line2{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left:59vh;
    top:29vh;
    letter-spacing: 0.5px;
}

.line3{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    left:62vh;
    top:33vh;
    letter-spacing: 0.5px;
    
}

.line4{
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    left:73vh;
    top:39vh;
    color:rgb(0, 115, 255);
    letter-spacing: 1px;
}

.airpod{
    position:absolute;
    margin-top:108vh;
    margin-bottom:0vh;
    left:0px;
}
#airpod{
    position:absolute;
    height:auto;
    width:68vh;
    top:46vh;
    left:50vh;
}

/* search by category ,Discover the perfect accessories.*/

.sc{
    position:absolute;
    left:62vh;
    top:202vh;
    font-size: 28px;
    font-family: bold Arial, Helvetica, sans-serif;

}
.dpc{
    position:absolute;
    left:60vh;
    top:208vh;
    font-size: 16px;
    font-family:  Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

/* catagories */

.categories{
    position:absolute;
    height:auto;
    width:155vh;
    top:220vh;
    left:5vh;
}

/* fitness section */

.fitness{
    position:absolute;
    margin-top:273vh;
    margin-bottom:0vh;
    left:0px;
    border-radius:15px;

}
#fitness{
    position:absolute;
    height:33vh;
    left:12vh;
    top:24vh;
}
#fitnesspic{
    position:absolute;
    height:45vh;
    top:21vh;
    left:91vh;
}
.learnmorefitness{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    left:37vh;
    top:57vh;
    color:rgb(0, 115, 255);
    letter-spacing: 1px;

}

/* ------------------- buy apple pencil pro section - about product page ---------------------- */

.textdiv{
    position:absolute;
    height:9vh;
    width:204vh;
    background-color: rgb(246, 246, 246);
    top:15.2vh;
}

.thirdtext{
    position:absolute;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:500;
    top:3vh;
    left:25vh;
}

.learnmore{
    position:absolute;
    color: rgb(0, 115, 255);
    top:3vh;
    left:80vh;

}